
/* may not be required - need to look at adding to main so doesn't impact header & footer*/

.about-content{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
}