/*ul.blog-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.blog-list-container{
    width: 21.4%;
    height: 0;
}
.blog-polaroid-wrapper{
    width: 100%;
    margin: 0 auto;
}
.blog-polaroid-outside{
    background-color: red;
    position: absolute;
    border-radius: 3%;
    width: 150px;
    height: 239px;
    left: 0;
    right: 0;
    margin: auto;
}

.blog-polaroid-inside{
    background-color: #fce7e6;
    width: 85.57%;
    height: 71.14%;
    box-shadow: rgba(155, 153, 153, 0.068) 0px 3px 5px, rgba(201, 201, 206, 0.25) 0px 30px 60px -12px inset, rgba(248, 116, 116, 0.253) 0px 18px 36px -18px inset;
    overflow: hidden;
    img{
        max-width: 100%;
    }
}
.blog-name{ 
    position: absolute;
    max-width: 360px;
    margin: 22% 0% 0% 10%;
    font-size: clamp(1.125rem, 0.8364rem + 1.443vw, 2.568rem);
}

@media (min-width: 700px){
    .blog-polaroid-outside{
        width: 100%;
        height: 100%;
    }
    .blog-polaroid-wrapper{
        width: 100%;
        padding-bottom: 159%; 
        position: relative; 
        margin: 0 auto;
    }
}*/