html{
    min-height: 100%;
}
body{
    background-color: #fff;
    font-family: Lekton;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
h1{
    margin: 0;
    color: $h1-color;
    font-family: 'Londrina Outline';
    font-weight: 400;
}
h2{
    margin:0;
    color: $h2-color;
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.25rem,0.7rem + 2.75vw, 4rem);
}
ul{
    list-style-type: none;
}
a{
    font-family: "Londrina Shadow";
    font-weight: 400;
    text-decoration: none;
    font-size: clamp(1.25rem,0.7rem + 2.75vw, 4rem);
}
a:hover{
    color: $primary-color-2;
}
@media (min-width: 700px){
    body{
        font-size: 18px;
    }
}