html{
    min-height: 100%;
}
body{
    background-color: #fff;
    font-family: Lekton;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
} 
h1{
    margin: 0;
    color: $h1-color;
    font-family: 'Londrina Outline';
    font-weight: 400;
}
h2{
    margin:0;
    color: $h2-color;
    font-family: 'Palanquin';
    font-weight: 400;
}
header{
    z-index: 1;
}
main{ 
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}
.info-me{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
