
/*hamburger code*/
#menu-wrapper{
    position: fixed;
    top: 15px;
    left: 85%;
    width: 50%;
    max-width: 10vw;
    height: 50px;
    box-sizing: border-box;
    background-color: red;
    .toggle{
        width: 80px;
        max-width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 999;
        cursor: pointer;
        opacity: 0;
    }
    .polaroid-wrapper{
        width: 100px;
        position: absolute;
        left: 0;

        z-index: 998;

        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        padding: 10px;
        transition: all 0.3s ease;

        .hamburger-polaroid{
            width: 100%;
        }
    }
    .toggle:hover + .polaroid-wrapper{
        transform: rotate(-25deg);
    }
    .toggle:checked + .polaroid-wrapper{
        transform: rotate(45deg);
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;

        opacity: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(248, 242, 240, 0.95);
        z-index: 1;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        ul {
            position: relative;
            top: 20%;
            li{
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 20px;
            cursor: pointer;
            box-sizing: 100px;
            border-bottom: 2px solid transparent;
            a{
                position: relative;
                color: $accent-color-dark;
                font-size: 20px;
                text-decoration: none;
             }
            }
        }
        ul li:hover{
            color: white;
        }
    }
    .toggle:checked + .polaroid-wrapper + .menu{
        opacity: 1;
        width: 100%;
        
    }
}

/*home icon code*/
.home-icon{
    max-width: 50%;
    img{
        width: 40%;
        
    }
}



