/*pages specific header formatting*/
.page-header{
    background-color: $light-color;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/*pages content */
.page-title{
    text-align: center;
}
.blog-content{
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
    z-index: 0;
}

.page-content{  
    margin: 0 auto;
    padding: 15px;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    /*background-color: grey*/
}
.page-title,
.blog-title{
    font-size: clamp(4.31rem, 2.078rem + 11.6vw, 15.47rem);
    letter-spacing: 0.02em; 
}

/* about me*/
.info-me{
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}