/*pages content */
.page-title{
    text-align: center;
}

.page-content{  
    margin: 0 auto;
    padding: 20px;
    padding-top: 15%;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}
/*to push title below header*/
.blog-content{
    margin: 0 auto;
    padding-top: 15%;
}
.page-title,
.blog-title{
    font-size: clamp(4.31rem, 2.078rem + 11.6vw, 15.47rem);
    letter-spacing: 0.02em; 
}

/* about*/
.info-me{
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*blog*/
.blog-content{
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
    z-index: 0;
}